* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

#img1 {
    width: 28%;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img2{
    width: 90px;
    height: 90px;
    font-size: 80px;
    position: absolute;
    top: 54%;
    left: 32%;
    transform: translate(-50%, -50%);


}
#searchengine {
    box-sizing: border-box;

    width: 45%;
    height: 6%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(237, 245, 245);
    text-decoration: none;
}
#searchengine:active{
    border: solid 1px;
    border-color: cyan;
}
#btn1{
    width: 190px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 54%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 230, 230);
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;

}
button:hover{
    background-color: rgb(5, 117, 214);
}
#btn2{
    min-width: 190px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 54%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 230, 230);
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;


}
